.search-container{
    display: flex;
    justify-content: center;
    margin: 10px ;
}

.search-input{
    padding: 8px 15px;
    font-size: 15px;
    width: 250px;
    border-width: 0;
    margin: 12px 14px 05px 14px;
    background-color: #a592f2;
    color: #00A9FF;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

.search-input::placeholder{
    color: #00A9FF;

}

.search-input: hover{
    color: #00A9FF;
}    

.search-input:focus{
    outline: none;
}
