#board {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    background-color: orange;
    border: 10px solid #0c67ae;
    margin: 0px;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}
